.navbar-default .container {
  margin-bottom: 0; }

.content {
  margin-top: 140px; }

.wrap-article {
  width: 100%; }
  .wrap-article .breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0; }
  .wrap-article hr {
    margin: 24px 0; }
    .wrap-article hr.short {
      margin-top: 0; }
  .wrap-article .block-note {
    background-color: #eef3fa;
    border-left: 3px solid #008dd2; }
    .wrap-article .block-note .text-user {
      padding: 18px 26px; }
  .wrap-article .form-pay {
    width: 100%;
    margin-bottom: 26px; }
  .wrap-article ul li {
    margin-bottom: 20px; }
  .wrap-article .colored-list li {
    color: #008dd2; }
    .wrap-article .colored-list li span {
      color: black; }
  .wrap-article .block-text {
    margin-bottom: 26px; }
    .wrap-article .block-text span {
      display: inline-block;
      padding: 4px 10px;
      background-color: #f0f0f0; }
  .wrap-article ol {
    margin-bottom: 26px; }
    .wrap-article ol li {
      margin-bottom: 18px;
      font-weight: 700; }
      .wrap-article ol li span {
        font-weight: normal; }
  .wrap-article .content-text {
    background-color: #eef3fa;
    padding: 26px 52px;
    margin: 26px 0 30px; }
    .wrap-article .content-text h3 {
      margin-bottom: 22px;
      font-family: RobotoCondensed-Bold, sans-serif; }
    .wrap-article .content-text ul {
      padding: 0;
      padding-left: 16px; }
      .wrap-article .content-text ul li {
        font-size: 14px; }
  .wrap-article h3 {
    font-family: RobotoCondensed-Regular, sans-serif;
    margin-bottom: 18px; }
  .wrap-article .arrow-article {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrap-article .arrow-article span {
      padding: 12px 20px;
      border: 1px solid #cdd6e3;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer; }
      .wrap-article .arrow-article span img {
        margin-right: 10px; }
      .wrap-article .arrow-article span .arrow-right {
        margin-left: 10px; }
  .wrap-article .block-item-link {
    display: flex;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 32px; }
    .wrap-article .block-item-link .item-link {
      border-right: 1px dashed #cccccc;
      padding: 0 18px; }
      .wrap-article .block-item-link .item-link .page {
        margin: 0 14px 20px 0; }
        .wrap-article .block-item-link .item-link .page img {
          margin-bottom: 2px; }
    .wrap-article .block-item-link .item-link:last-child {
      border: 0;
      padding-right: 0; }
    .wrap-article .block-item-link .item-link:first-child {
      padding-left: 0; }
  .wrap-article .block-item-news .item {
    display: flex;
    width: 100%;
    margin-bottom: 20px; }
    .wrap-article .block-item-news .item:last-child {
      margin: 0; }
    .wrap-article .block-item-news .item .item-news {
      display: flex;
      align-items: center; }
      .wrap-article .block-item-news .item .item-news img {
        height: 56px;
        margin-right: 20px; }
  .wrap-article hr {
    margin: 35px 0; }
  .wrap-article .text-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px; }
    .wrap-article .text-comment h3 {
      font-family: RobotoCondensed-Regular, sans-serif;
      margin: 0; }
    .wrap-article .text-comment span {
      padding: 12px 20px;
      border: 1px solid #cdd6e3;
      border-radius: 3px; }
  .wrap-article .comments {
    padding-left: 0;
    list-style: none; }
    .wrap-article .comments ul {
      list-style: none;
      margin-left: 36px; }
    .wrap-article .comments li {
      margin-bottom: 0; }
    .wrap-article .comments > li {
      border-bottom: 1px dashed #ccc;
      margin-bottom: 20px; }
      .wrap-article .comments > li:last-of-type {
        border-bottom: none; }
    .wrap-article .comments figure {
      margin-bottom: 20px; }
    .wrap-article .comments .read {
      text-decoration: none; }
  .wrap-article .dashed {
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 24px; }
  .wrap-article .role {
    background-color: #ffecf4;
    border-left: 3px solid #ff2f82; }
    .wrap-article .role .text-user {
      font-family: Roboto-Regular, sans-serif; }
      .wrap-article .role .text-user .color {
        color: #ff2f82; }
  .wrap-article .block-form {
    background-color: #eef3fa;
    padding: 26px 30px; }
    .wrap-article .block-form .color {
      color: red; }
    .wrap-article .block-form .form-inline {
      margin: 18px 0;
      display: flex; }
      .wrap-article .block-form .form-inline .form-group {
        flex-grow: 1;
        margin-right: 16px; }
        .wrap-article .block-form .form-inline .form-group:last-of-type {
          margin-right: 0; }
        .wrap-article .block-form .form-inline .form-group input {
          width: 100%; }
      .wrap-article .block-form .form-inline .form-control {
        box-shadow: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
    .wrap-article .block-form textarea {
      min-height: 200px;
      width: 100%;
      padding: 15px;
      resize: vertical; }
    .wrap-article .block-form .checkbox {
      margin: 14px 0; }
      .wrap-article .block-form .checkbox label {
        line-height: 28px; }
        .wrap-article .block-form .checkbox label input {
          width: 20px;
          height: 20px; }
        .wrap-article .block-form .checkbox label span {
          padding-left: 10px; }
  .wrap-article .checkbox label {
    line-height: 28px; }
    .wrap-article .checkbox label input {
      width: 20px;
      height: 20px; }
    .wrap-article .checkbox label span {
      padding-left: 10px; }

.container {
  margin-bottom: 48px; }

@media (max-width: 1200px) {
  .navbar .navbar-default nav .navbar-nav .input-group .form-control {
    display: none; } }
@media (max-width: 992px) {
  .content {
    margin-top: 100px; }

  .wrap-article .block-item-link {
    display: flex;
    flex-wrap: wrap; }
    .wrap-article .block-item-link .item-link {
      padding: 0;
      border-right: none; }
      .wrap-article .block-item-link .item-link .page {
        margin: 0;
        margin-right: 8px; }
  .wrap-article .block-item-news .item {
    flex-wrap: wrap;
    margin: 0; }
    .wrap-article .block-item-news .item .item-news {
      margin-bottom: 20px; }
    .wrap-article .block-item-news .item:last-of-type > :last-of-type {
      margin-bottom: 0; }
  .wrap-article hr.short {
    margin-top: 15px; }
  .wrap-article ol li {
    margin-bottom: 0; } }
@media (max-width: 768px) {
  .content {
    margin-top: 65px; }

  .wrap-article .comments ul {
    margin-left: 0; } }

/*# sourceMappingURL=article.css.map */
