$primary-color: #999999;
$font-stack: RobotoCondensed-Bold, sans-serif;

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: RobotoSlab-Light;
  src: url(../fonts/RobotoSlab-Light.ttf);
}

body {
  font-family: Roboto-Regular, sans-serif;
}

a{
  color: #008dd2;
}

.display {
  display: flex;
  align-items: center;
}

.container {
  padding: 0;
  height: 100%;
  display: flex;
}

.dropdown-menu > li > a {
  padding: 3px 5px;
}

.navbar-default {
  background-color: #eef3fa;
  box-shadow: 0 0 6px gray;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  .logotype {
    padding: 20px 0;
    img {
      height: 70px;
      transition: height .3s;
      &.navbarFixed {
        height: 24px;
      }
    }
  }
  .input-group {
    display: none;
  }

  .block-menu {
    @extend .display;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;

    .navbar-collapse {
      padding: 0;
      .navbar-nav {
        @extend .display;
        font-family: $font-stack;
        font-size: 17px;
        align-items: center;
        margin-top: 0;
        > li > a {
          color: black;
          padding: 0;
        }
        > li {
          position: relative;
          border-right: 1px solid darkgrey;
          margin-left: 15px;
          padding-right: 15px;
          &:last-of-type {
            padding-right: 0;
            border-right: none;
          }
          a {
            color: #000;
          }
        }
        .input-group {
          display: none;
        }

      }

      .dropdown {
        cursor: pointer;
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
        &.open {
          color: #008dd2;
        }
      }

      .dropdown-menu {
        border: none;
        border-bottom: 2px solid #008dd2;
        padding-left: 35px;
        padding-right: 10px;
        list-style: disc;
        color: #008dd2;

        &:before {
          content: '';
          position: absolute;
          top: -5px;
          left: 35%;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid white;
        }
        > li > a {
          padding-left: 5px;
          &:hover {
            background-color: transparent;
            color: #008dd2;
          }
        }
      }

      .dropdown-title:hover .dropdown-menu {
        display: block;
      }
    }
    img {
      cursor: pointer;
    }

    .box {
      position: relative;
      .icon {
        width: 20px;
        cursor: pointer;
      }
      //.container-2{
      //  display: none;
      //}

    }

    .form-search {
      display: none;
      position: relative;
      .input-lg {
        border: none;
        width: 100%;
        padding: 20px 0;
      }
      span {
        width: 12px;
        position: absolute;
        top: 36px;
        right: 12px;
        color: gray;
      }

    }

    .search-block {
      display: flex;
      height: 100%;
      align-items: stretch;
      input {
        display: none;
        width: 100%;
        border: none;
        padding: 4px 10px;
        margin-right: 10px;
      }
      .glyphicon {
        font-size: 20px;
        color: #BCC7D7;
        cursor: pointer;
        align-self: center;
      }
    }
  }
}

.main-block {
  width: 100%;
}

.content {
  margin-top: 155px;
  align-items: flex-start;
}

.news {
  display: flex;
  align-items: flex-start;
  word-break: break-all;
  h3 {
    margin-top: 0;
    font-family: RobotoCondensed-Regular, sans-serif;
  }
  > img {
    margin-right: 30px;
    // width: 270px;
  }
  .article-info-user {
    display: flex;
    margin: 15px 0;
    border-bottom: 1px dashed lightgrey;
    padding-bottom: 15px;
    .block-user {
      margin-right: 15px;
      img {
        margin-right: 8px;
      }
      span, a {
        font-size: 12px;
      }
    }
    .block-user:last-child {
      margin-right: 0;
    }
  }
}

.text-user {
  font-size: 14px;
  margin-bottom: 22px;
  line-height: 26px;
}

.read {
  a {
    color: #3fa9dd;
  }
}

hr {
  margin: 37px 0;
}

.custom-pagination {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 0;
  li {
    //margin-right: 34px;
    //margin-left: 0;
    &.active:not(.arrow) a {
      color: #008dd2;
      border-bottom: 2px solid #008dd2;
    }
    a:not(.arrow) {
      font-size: 17px;
      color: #000;
      font-family: RobotoCondensed-Bold, sans-serif;
      text-decoration: none;
      &:hover {
        color: #008dd2;
        border-bottom: 2px solid #008dd2;
      }
    }
  }

}

.line {
  border-left: 1px solid #eaecef;
  margin: 0 35px;
  align-self: stretch;
}

aside {
  width: 300px;
  min-width: 300px;
  position: relative;
}

.block-search {
  background-color: #eef3fa;
  display: flex;
  flex-direction: column;
  padding: 30px;
  .subscription {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    img {
      margin-right: 14px;
    }
    span {
      font-size: 17px;
      font-family: RobotoCondensed-Regular, sans-serif;
    }
  }
  .search {
    width: 100%;
    margin: 15px 0;
    line-height: 40px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #cdd6e3;
  }
  .subsc {
    height: 40px;
    width: 100%;
    background-color: #008dd2;
    border: none;
  }
}

.sidebar-head {
  margin: 35px 0 20px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid lightblue;
  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 15px;
    background-color: #008dd2;
  }
  img {
    margin-right: 13px;
  }
  span {
    font-family: $font-stack;
    font-size: 17px;
  }
}

.sidebar-item {
  margin-bottom: 34px;
  ul {
    li {
      margin-bottom: 20px;
      color: #008dd2;
      a {
        color: #000;
      }
    }

    .dropdown {
      cursor: pointer;
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }

    .hidden-text {
      display: none;
      padding-left: 0;
      ul {
        list-style-type: disc;
        margin-left: -40px;
      }
    }
    .show-all {
      cursor: pointer;
      list-style-type: none;
      a{
        color: #008dd2;
        border-bottom: 1px dotted grey;
        &:hover{
          text-decoration: none;
        }
      }
    }
    //.dropdown-menu {
    //  font-family: $font-stack;
    //  border: none;
    //  border-bottom: 2px solid #008dd2;
    //  padding-left: 35px;
    //  padding-right: 10px;
    //  list-style: disc;
    //  color: #008dd2;
    //  > li {
    //    margin: 0;
    //  }
    //  > li > a {
    //    &:hover {
    //      background-color: transparent;
    //      color: #008dd2;
    //    }
    //  }
    //}
  }
  .block-article {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    .date {
      margin-bottom: 10px;
      color: #a0a0a0;
    }
    a {
      color: #008dd2;
    }
  }
}

figure {
  display: flex;
  margin-bottom: 34px;
  .user-photo {
    height: 56px;
    margin-right: 18px;
  }
  .user-info {
  }
  .block-user {
    padding-bottom: 6px;
    .user-name {
      padding-right: 10px;

    }
    .user-date {
      padding-left: 10px;
      color: #a7a7a7;
      border-left: 1px solid #a7a7a7;
    }
  }

}

.item-link {
  @extend .display;
  margin-bottom: 24px;
  .page {
    @extend .display;
    margin-right: 14px;
    img {
      margin-bottom: 20px;
    }
  }
}

footer {
  background-color: #333333;

  .footer-info {
    @extend .display;
    justify-content: center;
    padding: 30px 0;
    ul {
      @extend .display;
      justify-content: center;
      padding: 0;
      margin: 0;
      li {
        margin: 0 35px;
        color: $primary-color;
        &:first-of-type {
          list-style: none;
        }
        &.active{
          a{
            color: white;
          }
        }
        a {
          padding-left: 30px;
          color: $primary-color;
          font-size: 16px;
        }
      }
    }
  }
  .container {
    border-top: 1px solid $primary-color;
    margin-bottom: 0;
  }
  .block-info-footer {
    width: 100%;
    @extend .display;
    justify-content: space-between;
    padding: 22px 0;
    span {
      color: $primary-color;
      font-size: 12px;
    }
    img {
      height: 30px;
    }
  }

}

@media (max-width: 1200px) {
  .navbar .navbar-default nav .navbar-nav .input-group .form-control {
    display: none;
  }

  .news .article-info-user {
    display: block;
  }

}

@media (max-width: 992px) {
  .content {
    margin-top: 115px;
  }
  .navbar-default .logotype img {
    height: 36px;
  }
  .navbar-default .block-menu .navbar-collapse .navbar-nav {
    font-size: 14px;
    display: block;
  }
  .navbar-default .block-menu .navbar-collapse .dropdown-menu {
    border-bottom: none;
  }
  .navbar-default .block-menu .navbar-collapse .navbar-nav > li {
    border-right: none;
  }
  .navbar-default .block-menu .navbar-collapse .dropdown-menu:before {
    border-bottom: none;
  }
  .navbar-default {
    .block-menu {
      //.logotype img {
      //  height: 36px;
      //}
      .box .icon {
        margin-left: 10px;
      }
      .menu {
        font-size: 14px;
        > ul > li {
          margin-left: 10px;
          padding-right: 12px;
        }
      }
    }

  }
  .logotype-fly img {
    height: auto;
    width: 200px;
  }

  .news {
    align-items: center;
    flex-direction: column;
    h3 {
      text-align: center;
    }
    hr {
      margin: 20px 0;
    }
    article {
      width: 100%;
    }
    .article-info-user {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .block-user {
        width: 45%;
        margin-right: 0;
        margin-bottom: 10px;

      }
    }
    > img {
      margin-right: 0;
      width: auto;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .line {
    margin: 0 15px;
  }
  //.custom-pagination {
  //  justify-content: space-around;
  //  li {
  //    margin: 0;
  //  }
  //}

  footer .footer-info ul li {
    margin: 0 20px;
    a {
      padding-left: 20px;
    }
  }
}

@media (max-width: 768px) {
  .content {
    margin-top: 85px;
  }
  .logotype {
    img {
      height: 50px;
      margin: 10px 0 10px 10px;
    }
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
    &:hover {
      color: #008dd2;
    }
  }
  .navbar-default .navbar-nav > li > a {
    color: black;
  }
  .navbar-default .navbar-collapse .input-group {
    cursor: pointer;
    display: flex;
    padding: 12px 12px 0;
    .input-group-addon {
      display: inline-block;
      width: auto;
    }
  }

  .navbar-nav {
    margin: 10px 0;
    font-family: RobotoCondensed-Bold, sans-serif;
    li {
      margin: 10px 0;
      cursor: pointer;
      .dropdown-menu li {
        margin: 0;
        a {
          color: #000;
        }

      }
    }

  }

  .nav > li > a {
    padding: 0;
  }
  .navbar-default .logotype {
    padding: 0;
  }
  .navbar-default .block-menu {
    display: inline;
  }
  .navbar-default .block-menu .icon-search {
    display: none;
  }
  .navbar-default .block-menu .search-block {
    display: none;
  }
  .content {
    padding: 15px;
    flex-direction: column;
  }
  .news {
    > img {
      margin-bottom: 20px;
    }

    .article-info-user .block-user {
      width: auto;
    }
  }

  .custom-pagination {
    //padding: 0 8px;
    li a:not(.arrow) {
      font-size: 14px;
    }
  }
  aside {
    width: 100%;
    .sidebar-head {
      display: inline-block;
      padding-bottom: 6px;
    }
    .user-info {
      text-align: left;
    }
    .sidebar-item {
      margin-bottom: 20px;
      text-align: center;
      ul .dropdown-toggle {
        width: auto;
      }
      .hidden-text ul {
        list-style-type: none;
      }
    }
    .last-posts {
      .block-user {
        text-align: left;
      }
    }
    .item-link {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
    }
    figure {
      margin-bottom: 20px;
      justify-content: center;
    }
    .dropdown {
      width: auto;
      display: inline-block;
    }
    ul {
      list-style: none;
    }
    .vk {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 330px;
    }
  }

  footer {
    .container {
      padding: 0 10px;
    }
    .footer-info ul {
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;
      li {
        margin: 0;
        a {
          padding-left: 0;
          font-size: 12px;
        }
      }
    }
    .block-info-footer {
      font-size: 12px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      span {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 575px) {

  .logotype {
    img {
      height: 30px;

    }
  }

  aside{
    min-width: initial;
  }

  footer .footer-info ul {
    flex-direction: column;
    li a {
      font-size: 14px;
    }
    li:first-of-type {
      list-style: inherit;
    }
  }
  //.navbar-nav {
  //  margin: 10px 0;
  //  font-family: RobotoCondensed-Bold,sans-serif;
  //  li {
  //    margin: 10px 0;
  //    cursor: pointer;
  //    .dropdown-menu li{
  //      margin: 0;
  //      a {
  //        color: #000;
  //      }
  //
  //    }
  //  }
  //}
  //.nav>li>a {
  //  padding: 0;
  //}
}